*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.mcp.json
/.agents
/.claude
/.codex
/.cursor
/.gemini
/.fleet
/.idea
/.nova
/.opencode
/.phpunit.cache
/.vscode
/.zed
/auth.json
/agents/*
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
boost.json
opencode.json
Homestead.json
Homestead.yaml
Thumbs.db
